@import 'resets';
@import 'variables';
@import 'functions';
@import 'mixins';
body {
    background-color:transparent;
}
.d-flex {
    display: display(f);
}

.justify-space-between {
   justify-content: justifyDirection(sb);
}

header {
     width: 100%;
     height:auto;
     padding: padding(p5)  padding(p5) * 4;
     & .nav_container {
         align-items: center;
         width:100%;
        & .nav_content_left {
            align-items: center;
            & .logo {
                margin-right: 1rem;
                width: auto;
                height: auto;
                > svg {
                    width: 1.875rem;
                    height: 1.875rem;
                }
            }
            & .search_box {
                margin-right: 1rem;
                 > form {
                     width: auto;
                    > input {
                        width: 100%;
                        padding: 0.3125rem 0.75rem;
                        outline: none;
                        border-radius: 0.25rem;
                    }
                }
            }
            & .nav_items_container {
                margin-right: 1rem;
                list-style-type: none;
                & .nav_item {
                    display: display(in-b);
                    margin-left: 1rem;
                    &> .nav_item_link {
                        display: display(in-b);
                        text-decoration: none;
                        color: black;
                        font-size: 1rem;
                        padding: 0.15rem 0;
         border: 1px solid green;
                        
                    }
                }
            }
        }
        & .nav_content_right {
            align-items: center;
        }
     }
}
// .box {
//     padding-top: padding(p3);
//     padding-left: padding(p5);
//     @include breakpoint(breakpoint(sm)){
//         padding-top: padding(p5) * 2;
//     }
// }

// .nested {
//     border: 1px solid lime;
//     & .nester {
//         color: yellow;
//         padding: padding(p5);
//     }
//     @include breakpoint(breakpoint(sm)){
//         border: 3px solid red;
//         font-size: 2rem;
//     }
//     @include breakpoint(breakpoint(md)){
//         border: 3px solid brown;
//         font-size: 9rem;
//     }
//     @include breakpoint(breakpoint(lg)){
//         border: 3px solid green;
//         font-size: 4rem;
//     }
//     @include breakpoint(breakpoint(xl)){
//         border: 3px solid orange;
//         font-size: 4rem;
//     }
// }
